/* Cast and Crew */
.post-type-archive-ccwp_cast_and_crew {
    .ccwp-cast-and-crew-page {
        padding-top: 20px;
        padding-left: 8px;
        padding-right: 8px;
    }

    h1 {
        margin-bottom: 10px;
    }

    .ccwp-alphabet-navigation {
        margin-bottom: 30px;
        font-size: 17px;

        a, span {
            padding: 0 5px;
        }

        a {
            color: $black;
            text-decoration: none;

            &:hover {
                color: $red;
                text-decoration: none;
            }
        }

        span {
            color: rgba(0,0,0,.3);
        }
    }

    .ccwp-alphabet-header {
        font-style: normal;
        font-size: 24px;
        line-height: 34px;
        text-transform: none;
        padding-left: 20px;
        margin-bottom: 20px;
    }

    .ccwp-row {
        flex-flow: row wrap;
        margin-bottom: 0;
    }

    .castcrew-wrapper {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        flex-basis: 250px;
        flex-shrink: 0;
        margin-right: 40px;
        margin-bottom: 40px;
    }

    .castcrew-headshot {
        text-align: center;
    }

    .castcrew-details {
        text-align: center;
    }

    .castcrew-name {
        margin: 0;

        a {
            text-decoration: none;

            &:hover {
                color: $red;
                text-decoration: none;
            }
        }
    }

    .castcrew-self-title {
        color: rgba($black,.5);
        margin-bottom: 10px;
    }
}
