.vagrant
.idea/
.phpintel/

vendor/
node_modules/

# folders used in build
/CurtainCallWP
/curtaincallwp.zip

# public folder (Where Wordpress is)
/public/*
!/public/.gitkeep

# Wordpress files
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

# npm
npm-debug.log
.npmrc
yarn-error.log

# Mappings
*.js.map
*.css.map

# Buid ignores
mix-manifest.json

# Text editor/ide folders
.phpintel
.vscode
.idea
*.swp
*.orig
*.diff
*.vi
*.idea

# Numerous always-ignore extensions
*.err
*.log
*.rej
*.swo
*.sass-cache

# OS ignores
.DS_Store
.AppleDouble
.LSOverride
__MACOSX
