.vagrant
.mariadb/
node_modules/
vendor/

# folders used in build
/CurtainCallWP
/curtaincallwp.zip

# Dev data excludes
/public/*
!/public/.gitkeep
/data/

# environment
.env*

# Wordpress files
wp-config.php
wp-content/advanced-cache.php
wp-content/backup-db/
wp-content/backups/
wp-content/blogs.dir/
wp-content/cache/
wp-content/upgrade/
wp-content/uploads/
wp-content/wp-cache-config.php
wp-content/plugins/hello.php

# npm
.npmrc
npm-debug.log
yarn-error.log

# Mappings
*.js.map
*.css.map

# Buid ignores
mix-manifest.json

# Text editor/ide folders
.phpintel
.vscode
.idea
*.swp
*.orig
*.diff
*.vi
*.idea

# Numerous always-ignore extensions
*.err
*.log
*.rej
*.swo
*.sass-cache

# OS ignores
.DS_Store
.AppleDouble
.LSOverride
__MACOSX
