---

services:
  mariadb:
    container_name: wpsite_db
    image: 'mariadb:latest'
    ports:
      - '${DB_PORT:-3306}:3306'
    environment:
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
    volumes:
      - './.mariadb:/var/lib/mysql'
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-p${DB_PASSWORD}" ]
    networks:
      - wpdev

  myadmin:
    container_name: wpsite_phpmyadmin
    image: 'phpmyadmin:latest'
    ports:
      - '${PHP_MYADMIN_PORT:-8080}:80'
    environment:
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
      PMA_HOSTS: mariadb
      PMA_USER: '${DB_USERNAME}'
      PMA_PASSWORD: '${DB_PASSWORD}'
    depends_on:
      - mariadb
    networks:
      - wpdev

  wpsite.test:
    container_name: wpsite_code
    #image: 'wordpress:8.1-apache' # <- defined in the dockerfile
    build:
      context: ./docker
      dockerfile: Dockerfile
    ports:
      - '${APP_PORT:-80}:80'
    environment:
      WORDPRESS_DB_HOST: '${DB_HOST}'
      WORDPRESS_DB_USER: '${DB_USERNAME}'
      WORDPRESS_DB_PASSWORD: '${DB_PASSWORD}'
      WORDPRESS_DB_NAME: '${DB_DATABASE}'
      WORDPRESS_DEBUG: 'true'
      WP_DEBUG_LOG: 'true'
      WP_DEBUG_DISPLAY: 'true'
      SCRIPT_DEBUG: 'true'
      PHP_IDE_CONFIG: 'serverName=docker'
      XDEBUG_CONFIG: 'remote_host=host.docker.internal'
    extra_hosts:
      - "host.docker.internal:host-gateway"
    volumes:
      - './public:/var/www/html'
      - './plugin:/var/www/html/wp-content/plugins/CurtainCallWP'
      - './theme:/var/www/html/wp-content/themes/curtain-call'
      - './dev/theme:/var/www/html/wp-content/themes/curtain-call'
      - './xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini'
    depends_on:
      - mariadb
      - myadmin
    networks:
      - wpdev

  mailpit:
    image: 'axllent/mailpit:latest'
    ports:
      - '${FORWARD_MAILPIT_PORT:-1025}:1025'
      - '${FORWARD_MAILPIT_DASHBOARD_PORT:-8025}:8025'
    networks:
      - wpdev
    environment:
      MP_MAX_MESSAGES: 5000
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1

networks:
  wpdev:
    driver: bridge

volumes:
  mariadb:
    driver: local
