---

services:
  wpsite.test:
    container_name: wpsite_code
    build:
      context: ./docker
      dockerfile: Dockerfile
    environment:
      WORDPRESS_DB_HOST: '${DB_HOST}'
      WORDPRESS_DB_USER: '${DB_USERNAME}'
      WORDPRESS_DB_PASSWORD: '${DB_PASSWORD}'
      WORDPRESS_DB_NAME: '${DB_DATABASE}'
      WORDPRESS_DEBUG: 1
      WORDPRESS_CONFIG_EXTRA: |
        # Debugging and development settings
        define('WP_DEBUG_LOG', true);
        define('WP_DEBUG_DISPLAY', true);
        define('SCRIPT_DEBUG', true);

        # Other settings
        define('SAVEQUERIES', true);
        define('AUTOMATIC_UPDATER_DISABLED', true);
        define('DISALLOW_FILE_EDIT', true);
        define('WP_MEMORY_LIMIT', '256M');
        define('WP_MAX_MEMORY_LIMIT', '512M');
        define('DISABLE_WP_CRON', false);
        define('AUTOSAVE_INTERVAL', 120);
        define('WP_POST_REVISIONS', 5);
        define('EMPTY_TRASH_DAYS', 7);
      PHP_IDE_CONFIG: 'serverName=docker'
      XDEBUG_MODE: debug
      XDEBUG_CONFIG: "client_host=host.docker.internal client_port=9003"
    extra_hosts:
      - "host.docker.internal:host-gateway"
    ports:
      - '${APP_PORT:-80}:80'
    volumes:
      - 'wordpress:/var/www/html'
      - './plugin:/var/www/html/wp-content/plugins/CurtainCallWP'
      - './dev/theme:/var/www/html/wp-content/themes/curtain-call'
      - './dev/mu-plugins:/var/www/html/wp-content/mu-plugins'
      - './xdebug.ini:/usr/local/etc/php/conf.d/xdebug.ini'
    depends_on:
      - mariadb
      - myadmin
    networks:
      - wpdev

  mariadb:
    image: 'mariadb:latest'
    container_name: wpsite_db
    environment:
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
      MYSQL_DATABASE: '${DB_DATABASE}'
      MYSQL_USER: '${DB_USERNAME}'
      MYSQL_PASSWORD: '${DB_PASSWORD}'
      MYSQL_ALLOW_EMPTY_PASSWORD: 'yes'
    volumes:
      - 'mariadb:/var/lib/mysql'
    ports:
      - '${DB_PORT:-3306}:3306'
    healthcheck:
      test: [ "CMD", "mysqladmin", "ping", "-p${DB_PASSWORD}" ]
    networks:
      - wpdev

  myadmin:
    image: 'phpmyadmin:latest'
    container_name: wpsite_phpmyadmin
    environment:
      MYSQL_ROOT_PASSWORD: '${DB_PASSWORD}'
      PMA_HOSTS: mariadb
      PMA_USER: '${DB_USERNAME}'
      PMA_PASSWORD: '${DB_PASSWORD}'
    ports:
      - '${PHP_MYADMIN_PORT:-8080}:80'
    depends_on:
      - mariadb
    networks:
      - wpdev

  mailpit:
    image: 'axllent/mailpit:latest'
    container_name: wpsite_mailpit
    environment:
      MP_MAX_MESSAGES: 5000
      MP_SMTP_AUTH_ACCEPT_ANY: 1
      MP_SMTP_AUTH_ALLOW_INSECURE: 1
    ports:
      - '${FORWARD_MAILPIT_PORT:-1025}:1025'
      - '${FORWARD_MAILPIT_DASHBOARD_PORT:-8025}:8025'
    networks:
      - wpdev

volumes:
  wordpress:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./.wordpress
  mariadb:
    driver: local
    driver_opts:
      type: none
      o: bind
      device: ./.mariadb

networks:
  wpdev:
    driver: bridge
