#ccwp_production_details,
#ccwp_cast_and_cast_details {
    .ccwp-react-metabox {
        display: flex;
        flex-flow: column nowrap;
        justify-content: flex-start;
        align-items: stretch;
        gap: 10px;
    }

    .inside {
        padding: 0 30px 20px;
    }

    .ccwp-form-group {
        display: flex;
        flex-flow: row nowrap;
        align-items: center;
        margin-bottom: 10px;

        & label {
            padding-right: 15px;
            text-align: right;
        }

        & input,
        & textarea {
            flex-grow: 1;
        }
    }

    .ccwp-form-help-text {
        color: rgba(0, 0, 0, .5);

        & p {
            margin-top: -5px;
        }
    }
}

#ccwp_production_details {
    .ccwp-form-group {
        & label {
            flex-basis: 200px;
        }
    }

    .ccwp-form-group + .ccwp-form-help-text {
        margin-left: 220px;
    }
}

#ccwp_cast_and_cast_details {
    .ccwp-form-group {
        & label {
            flex-basis: 100px;
        }
    }

    .ccwp-form-group + .ccwp-form-help-text {
        margin-left: 120px;
    }
}

#ccwp_add_cast_and_crew_to_production {
    .ccwp-production-castcrew-select-wrap {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-end;
        margin-bottom: 20px;

        & .ccwp-select-form-group {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;
            margin-right: 7px;

            & label {
                display: inline-block;
                font-size: 14px;
                font-weight: 700;
                margin-bottom: 1px;
            }
        }

        & .ccwp-production-castcrew-add-btn {
            margin-bottom: 0;
        }
    }

    .ccwp-production-castcrew-form-group {
        & .ccwp-castcrew-name {
            line-height: 2;
            font-size: 14px;
        }
    }

    .ccwp-row {
        width: 100%;
        max-width: 650px;
        justify-content: flex-start;
        align-items: stretch;
        margin-bottom: 7px;

        & .ccwp-col {
            padding-left: 0;
            padding-right: 0;

            & input[type="text"] {
                width: 100%;
            }
        }

        &.label-row {
            font-size: 14px;
            font-weight: 700;
            line-height: 1;

            max-width: 100%;
            width: 100%;
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            grid-template-columns: auto;
            grid-auto-columns: max-content;
            gap: 12px;
            border-radius: 2px;
            margin-bottom: 8px;
        }
    }
}

#ccwp_add_productions_to_cast_crew {
    .ccwp-production-castcrew-select-wrap {
        @media (max-width: 782px) {
            display: flex !important;
            flex-flow: column nowrap !important;
            align-items: stretch !important;
            gap: 10px !important;
        }

        & .components-base-control {
            margin-bottom: 0;
        }

        & .ccwp-select-form-group {
            display: flex;
            flex-flow: column nowrap;
            justify-content: flex-start;
            align-items: flex-start;

            & label {
                display: inline-block;
                font-size: 14px;
                font-weight: 700;
                margin-bottom: 1px;
            }
        }

        & .ccwp-production-castcrew-add-btn {
            margin-bottom: 0;
        }
    }

    .ccwp-production-castcrew-form-group {
        & .ccwp-production-name {
            line-height: 2;
            font-size: 14px;
        }
    }

    .ccwp-row {
        width: 100%;
        max-width: 650px;
        justify-content: flex-start;
        align-items: stretch;
        margin-bottom: 7px;

        & .ccwp-col {
            padding-left: 0;
            padding-right: 0;

            & input[type="text"],
            & input[type="number"] {
                width: 100%;
            }
        }

        &.label-row {
            font-size: 14px;
            font-weight: 700;
            line-height: 1;

            max-width: 100%;
            width: 100%;
            display: grid;
            grid-auto-flow: column;
            align-items: center;
            grid-template-columns: auto;
            grid-auto-columns: max-content;
            gap: 12px;
            border-radius: 2px;
            margin-bottom: 8px;
        }
    }
}
