@import 'select2/dist/css/select2.css';

@import '../shared/_variables.css';
@import '../shared/_mixins.css';
@import '../shared/_grid.css';

@import './_metaboxes.css';
@import './_settings-page.css';
