@use "sass:map";

.ccwp-section {
    width: auto;
}

.ccwp-container {
    width: 100%;
    flex-grow: 1;
    margin-left: auto;
    margin-right: auto;
}

.ccwp-row {
    display: flex;
    flex-flow: row wrap;
    width: auto;

    @for $i from 1 through 4 {
        &.mt-#{$i} {
            margin-top: map.get($sizes, $i);
        }
        &.mb-#{$i} {
            margin-bottom: map.get($sizes, $i);
        }
    }
}

.ccwp-col {
    display: flex;
    flex-flow: column nowrap;
    padding-left: 15px;
    padding-right: 15px;
}