/* Sizing */
:root {
  --size-0: 0;
  --size-A: 0.125rem; /* 2px */
  --size-1: 0.25rem;  /* 4px */
  --size-1A: 0.375rem; /* 6px */
  --size-2: 0.5rem;   /* 8px */
  --size-2A: 0.625rem; /* 10px */
  --size-3: 0.75rem;  /* 12px */
  --size-3A: 0.875rem; /* 14px */
  --size-4: 1rem;    /* 16px */
  --size-5: 1.25rem; /* 20px */
  --size-6: 1.5rem;  /* 24px */
  --size-7: 1.75rem; /* 28px */
  --size-8: 2rem;    /* 32px */
  --size-9: 2.25rem; /* 36px */
  --size-10: 2.5rem;  /* 40px */
  --size-11: 2.75rem; /* 44px */
  --size-12: 3rem;    /* 48px */
  --size-13: 3.25rem; /* 52px */
  --size-14: 3.5rem;  /* 56px */
  --size-15: 3.75rem; /* 60px */
  --size-16: 4rem;    /* 64px */
  --size-17: 4.25rem; /* 68px */
  --size-18: 4.5rem;  /* 72px */
  --size-19: 4.75rem; /* 76px */
  --size-20: 5rem;    /* 80px */
  --size-21: 5.25rem; /* 84px */
  --size-22: 5.5rem;  /* 88px */
  --size-23: 5.75rem; /* 92px */
  --size-24: 6rem;    /* 96px */
  --size-28: 7rem;    /* 112px */
  --size-29: 7.25rem; /* 116px */
  --size-32: 8rem;    /* 128px */
  --size-36: 9rem;    /* 144px */
  --size-40: 10rem;   /* 160px */
  --size-44: 11rem;   /* 176px */
  --size-48: 12rem;   /* 192px */
  --size-52: 13rem;   /* 208px */
  --size-56: 14rem;   /* 224px */
  --size-60: 15rem;   /* 240px */
  --size-64: 16rem;   /* 256px */

  /* Breakpoints min */
  --br-xs-min: 528px;
  --br-sm-min: 769px; /* 761px */
  --br-md-min: 1024px;
  --br-lg-min: 1216px;
  --br-xl-min: 1408px;

  /* Breakpoints max */
  --br-ss-max: 527px; /* ss = super small */
  --br-xs-max: 768px;
  --br-sm-max: 1023px;
  --br-md-max: 1215px;
  --br-lg-max: 1407px;

  /* Fly Zones */
  --basezone: 0;
  --flyzone-1: 500;
  --flyzone-2: 1000;
  --flyzone-3: 1500;

  /* Colors */
  --white: rgb(255,255,255);
  --black: rgb(0,0,0);

  --light-grey: rgb(190,190,190);
  --medium-grey: rgb(132,132,132);
  --dark-grey: rgb(65,65,65);

  --red: rgb(231,76,60);
  --yellow: rgb(241,196,15);

  --text: rgb(17,17,17);

  /* Borders */
  --border-normal: 1px solid rgba(0, 0, 0, 0.1);
}
