@custom-media --ccwp-between-xs-sm (min-width: 528px) and (max-width: 768px);
@custom-media --ccwp-between-sm-md (min-width: 769px) and (max-width: 1023px);
@custom-media --ccwp-between-md-lg (min-width: 1024px) and (max-width: 1215px);
@custom-media --ccwp-between-lg-xl (min-width: 1216px) and (max-width: 1407px);

@custom-media --ccwp-from-xs (min-width: 528px);
@custom-media --ccwp-from-sm (min-width: 769px);
@custom-media --ccwp-from-md (min-width: 1024px);
@custom-media --ccwp-from-lg (min-width: 1216px);
@custom-media --from-xl (min-width: 1408px);

@custom-media --ccwp-to-ss (max-width: 527px);
@custom-media --ccwp-to-xs (max-width: 768px);
@custom-media --ccwp-to-sm (max-width: 1023px);
@custom-media --ccwp-to-md (max-width: 1215px);
@custom-media --ccwp-to-lg (max-width: 1407px);
