
/* Cast & Crew Production Directory */
body.single-ccwp_cast_and_crew  {
    article {
        .castcrew-profile-section {
            display: flex;
            flex-flow: column nowrap;
            margin-bottom: 40px;

            @media (--from-sm) {
                flex-flow: row nowrap;
            }
        }

        .castcrew-headshot {
            flex-basis: 250px;
            flex-shrink: 0;
            margin-right: 0;
            margin-bottom: 16px;

            img {
                max-height: 250px;
                width: auto;

                @media (--from-sm) {
                    max-height: 400px;
                }
            }

            @media (--from-sm) {
                margin-right: 40px;
                margin-bottom: 0;
            }
        }

        .castcrew-profile {
            .castcrew-title {
                font-size: var(--size-6);
                color: var(--black);
            }

            .castcrew-birthplace {
                font-size: var(--size-5);
                color: var(--black);
            }


            .connect-with-castcrew {
                font-size: var(--size-5);
                margin: 20px 0 15px;
            }

            .castcrew-website {
                font-size: var(--size-4);
                margin: -10px 0 0;

                a {
                    text-decoration: none;

                    &:hover {
                        text-decoration: none;
                        color: var(--yellow);
                    }
                }
            }

            .castcrew-social {
                margin-top: 10px;

                a {
                    text-decoration: none;
                    margin-right: 10px;

                    i {
                        font-size: var(--size-6);
                    }

                    &:hover {
                        color: var(--yellow);
                        text-decoration: none;
                    }
                }
            }
        }

        .ccwp-directory-section {
            padding: 30px 0;
            border-top: var(--border-normal);
        }

        .castcrew-production-list {
            margin-bottom: 20px;

            h2 {
                margin-bottom: 20px;
            }

            .ccwp-container {
                display: flex;
                flex-flow: column nowrap;
            }

            .production-wrapper {
                display: flex;
                flex-flow: row wrap;
                margin-bottom: 20px;
            }

            .production-poster {
                flex-basis: 100%;
                flex-shrink: 0;
                margin-right: 0;
                text-align: left;

                img {
                    height: auto;
                    max-height: 250px;
                    width: auto;
                    max-width: 100%;
                }

                @media (--from-sm) {
                    flex-basis: 325px;
                    margin-right: 25px;
                    text-align: center;
                }

                @media (--from-md) {
                    flex-basis: 400px;
                }
            }

            .production-details {
                flex-grow: 1;

                .production-name {
                    margin-bottom: 5px;

                    a {
                        font-size: var(--size-7);
                        text-decoration: none;
                        color: var(--black);

                        &:hover {
                            color: var(--red);
                        }
                    }
                }

                .castcrew-role {
                    font-size: var(--size-6);
                }

                .production-dates {
                    font-size: var(--size-5);
                }
            }
        }
    }
}
